.modal {
    width: 100dvw;
    height: 100dvh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    left: 0;
    top: 0;
    background-color: #000000ab;
}

.modalContent {
    max-width: 50rem;
    width: 100%;
    padding: 3rem 1.6rem;
    border-radius: 20px;
    background-color: var(--colors__inside);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.btns {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
}

.btn {
    background: linear-gradient(
        360deg,
        rgb(135, 82, 233) 0%,
        rgb(87, 27, 199) 100%
    );
    border: 0;
    color: var(--colors__white);
    font-size: 1.4rem;
    font-weight: 600;
    padding: 1rem;
    width: 100%;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
}

.btn:hover {
    opacity: 0.7;
}

.modalHeading {
    font-size: 2rem;
    text-align: center;
}
