.aside {
    position: fixed;
    left: 0;
    top: 0;
    height: 100dvh;
    background-color: var(--colors__background);
    border-right: 1px solid var(--colors__border);
    padding: 3rem 1.8rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 7.7rem;
}

.nav {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 3.2rem;
}

.navItem {
    padding: 1.8rem 2rem;
    border-radius: 13px;
    background-color: var(--colors__inside);
    transition: 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navItem:hover {
    opacity: 0.7;
}

.navIcon {
    color: var(--colors__accent);
}

.logout {
    background-color: transparent;
    border: none;
    transition: 0.3s;
    cursor: pointer;
    transform: rotate(180deg);
}

.logout:hover {
    opacity: 0.7;
}

.icon {
    color: var(--colors__accent);
}
